aws_region       = "us-east-1"
cluster_name     = "terraform-eks"
kubernetes_version = "1.33"
environment      = "dev"
vpc_cidr         = "10.30.0.0/16"
az_count         = 3
node_instance_types = ["t3.medium"]
node_min_size    = 2
node_desired_size = 2
node_max_size    = 4
enable_public_endpoint = true
enable_aws_load_balancer_controller = false
